@import "tailwindcss";

@font-face {
  font-family: "NeueHaasDisplayBold";
  src: url("/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplayMedium";
  src: url("/fonts/NeueHaasDisplayMedium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplayThin";
  src: url("/fonts/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplayNormal";
  src: url("/fonts/NeueHaasDisplayNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-display: "NeueHaasDisplayNormal", sans-serif;
  --color-primary: #e84624;
  --color-secondary: #373536;
  --color-tertiary: #c0bfbf;
  --color-quaternary: #fffeff;
  --font-primary: "NeueHaasDisplayNormal", sans-serif;
  --font-secondary: "NeueHaasDisplayMedium", sans-serif;
  --font-tertiary: "NeueHaasDisplayBold", sans-serif;
}

html {
  scroll-behavior: smooth;
}
